.footer {
    .footer-container {
        padding-top: 2em;
        padding-bottom: 2em;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .col-2 {
            display: flex;
            align-items: center;
            gap: 2.6rem;
            .social {
                height: 3.2rem;
                width: 3.2rem;
                border: 1px solid #4b5da9;
                display: flex;
                align-items: center;
                justify-content: center;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
                border-radius: 50%;
                svg {
                    color: #4b5da9;
                    font-size: 1.4rem;
                }
                &:hover {
                    border: none;
                    background-color: var(--primary);
                    svg {
                        color: var(--clr-heading);
                    }
                }
            }
        }
        @media screen and (max-width:25rem) {
            flex-direction: column;
            gap: 2.5rem;
        }
    }
    .back {
        position: fixed;
        right: 1rem;
        bottom: 6rem;
        z-index: 9;
        -webkit-transition: var(--transition);
        -moz-transition: var(--transition);
        -ms-transition: var(--transition);
        -o-transition: var(--transition);
        transition: var(--transition);
        svg {
            font-size: 2.4rem;
        }
        &:hover {
            opacity: .75;
        }
    }
}