.hero {
    background: var(--bg500);
    height: auto;
    .hero-container {
        display: flex;
            flex-direction: row;
            .left {
                flex: 1;
                align-self: center;
                .content {
                    .hero-heading {
                        .hello {
                            font-size: 1.8rem;
                            color: var(--clr-text);
                            font-weight: 500;
                        }
                        .heading-name {
                            font-size: 5rem;
                            margin: .1em 0;
                            letter-spacing: 0.2rem;
                            color: var(--primary);
                            line-height: 1;
                        }
                        .title {
                            text-transform: uppercase;
                            font-weight: 700;
                        }
                    }
                    .cta {
                        margin: 2em 0;
                        display: flex;
                        align-items: center;
                        gap: 1.2rem;
                        text-transform: uppercase;
                        font-weight: 500;
                        @media screen and (max-width:39rem) {
                            flex-direction: column;
                            align-items: center;
                        }
                    }
                    .socials {
                        display: flex;
                        align-items: center;
                        gap: 2.6rem;
                        .social {
                            height: 4rem;
                            width: 4rem;
                            border: 1px solid var(--primary);
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            -webkit-border-radius: 50%;
                            -moz-border-radius: 50%;
                            -ms-border-radius: 50%;
                            -o-border-radius: 50%;
                            border-radius: 50%;
                            svg {
                                color: var(--primary);
                                font-size: 1.4rem;
                            }
                            &:hover {
                                border: none;
                                background-color: var(--primary);
                                svg {
                                    color: var(--clr-heading);
                                }
                            }
                        }
                    }
                }
                @media screen and (max-width:48rem) {
                    padding: 7em;
                    justify-self: flex-start;
                }
            }
            .right {
                flex: 1;
                min-height: 54.75rem;
                position: relative;
                &>*{
                    position: absolute;
                }
                .profile {
                    z-index: 2;
                    bottom: 0;
                    left: 50%;
                    -webkit-transform: translateX(-50%);
                    -moz-transform: translateX(-50%);
                    -ms-transform: translateX(-50%);
                    -o-transform: translateX(-50%);
                    transform: translateX(-50%);
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    object-position: center top;
                }
                .blob {
                    z-index: 1;
                }
                @media screen and (max-width:48rem) {
                    .right {
                        min-height: 20rem;
                    }
                }
            }
            @media screen and (max-width:48rem) {
                flex-direction: column;
            }
    }
}