.short {
    width: 16rem;
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .col-1 {
        position: relative;
        height: 21.875rem;
        .overlay {
            visibility: hidden;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgba(0, 0, 0, 0.7);
            -webkit-transition: var(--transition);
            -moz-transition: var(--transition);
            -ms-transition: var(--transition);
            -o-transition: var(--transition);
            transition: var(--transition);
        }
        &:hover {
            .overlay {
                visibility: visible;
            }
        }

    }
    .col-2 {
        position: relative;
        height: 21.875rem;
        .overlay {
            visibility: hidden;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgba(0, 0, 0, 0.7);
            -webkit-transition: var(--transition);
            -moz-transition: var(--transition);
            -ms-transition: var(--transition);
            -o-transition: var(--transition);
            transition: var(--transition);
        }
        &:hover {
            .overlay {
                visibility: visible;
            }
        }
    }
}