.about {
    position: relative;
    z-index: 2;
    padding-top: 2em;
    padding-bottom: 7em;
    .about-content {
        display: flex;
        gap: 5rem;
        padding-top: 3em;
        .col-1 {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            .pic {
            outline: 1px solid var(--btn-clr);
            outline-offset: 0.5rem;
            width: 230px;
            background-color: var(--btn-clr);
            -webkit-border-radius: 2rem 2rem 0 2rem;
            -moz-border-radius: 2rem 2rem 0 2rem;
            -ms-border-radius: 2rem 2rem 0 2rem;
            -o-border-radius: 2rem 2rem 0 2rem;
            border-radius: 2rem 2rem 0 2rem;
            }
        }
        .col-2 {
            strong {
                color: var(--clr-heading);
                font-size: 1.9rem;
                margin-bottom: 0.65em;
            }
            h3 {
                font-size: 1.3rem;
                margin-bottom: 1em;
                color: var(--primary);
            }
            p {
                margin-bottom: 3em;
                @media screen and (max-width:48rem) {
            max-width: 43rem;
        }
            }
        @media screen and (max-width:48rem) {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
        }
        @media screen and (max-width:48rem) {
            flex-direction: column;
        }
    }
}