.contact {
    background-color: var(--bg500);
    overflow: hidden;
    .header {
        margin-bottom: 20em;
         @media screen and (max-width:48rem) {
                margin-bottom: 5em;
            }
    }
    .contact-container {
        position: relative;
        .contact-box {
            width: 100%;
            padding: 1.5em 5em;
            position: absolute;
            background-color: var(--bg400);
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);
            transform: translateX(-50%);
            left: 50%;
            top: -17rem;
            display: flex;
            flex-direction: column;
            gap: 3rem;
            -webkit-border-radius: 1rem;
            -moz-border-radius: 1rem;
            -ms-border-radius: 1rem;
            -o-border-radius: 1rem;
            border-radius: 1rem;
            z-index: 9;
            .col-1 {
                display: flex;
                flex-direction: column;
                gap: 1.25rem;
                align-items: flex-start;
                justify-content: center;
                .msg {
                    color: rgb(211, 57, 57);
                    font-size: 1.2rem;
                }
                .inputs {
                    background: transparent;
                    border: 1px solid var(--clr-text);
                    display: inline-block;
                    width: 100%;
                    padding: 1.125rem 1.875rem;
                    -webkit-border-radius: 2em;
                    -moz-border-radius: 2em;
                    -ms-border-radius: 2em;
                    -o-border-radius: 2em;
                    border-radius: 2em;
                    color: var(--clr-text);
                    &:hover, &:focus, &:active {
                        border-color: var(--clr-heading);
                    }
                }
                .btn {
                    cursor: pointer;
                }
                @media screen and (min-width:48rem) {
                    flex-basis: 60%;
                }
            }
            .col-2 {
                display: flex;
                align-items: flex-start;
                justify-content: center;
                flex-direction: column;
                gap: 1.25rem;
                @media screen and (min-width:48rem) {
                    flex-basis: 38%;
                }
            }
            @media screen and (min-width:48rem) {
                flex-direction: row;
            }
            @media screen and (max-width:48rem) {
                position: static;
                -webkit-transform: translateX(0);
                -moz-transform: translateX(0);
                -ms-transform: translateX(0);
                -o-transform: translateX(0);
                transform: translateX(0);
                top: 0;
                left: 0;
                margin-bottom: 5em;
            }
            .message {
                z-index: 15;
                text-align: center;
                position: fixed;
                top: 2rem;
                left: 50%;
                -webkit-transform: translateX(-50%);
                -moz-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                -o-transform: translateX(-50%);
                transform: translateX(-50%);
                background-color: var(--clr-text);
                max-width: 20rem;
                -webkit-border-radius: 1rem;
                -moz-border-radius: 1rem;
                -ms-border-radius: 1rem;
                -o-border-radius: 1rem;
                border-radius: 1rem;
                padding: 1em;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                .tick {
                    width: 6.25rem;
                    height: 6.25rem;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 2px solid limegreen;
                    padding: 1em;
                    svg {
                        color: limegreen;
                        font-size: 7rem;
                    }
                }
                h3 {
                    color: var(--bg500);
                    margin: .7em 0;
                }
                p {
                    color: var(--bg400);
                    margin-bottom: .7em;
                }
                .ok {
                    cursor: pointer;
                    background-color: limegreen;
                    color: var(--bg500);
                    padding: .5em 1.3em;
                }
            }
            .message2 {
                z-index: 15;
                text-align: center;
                position: fixed;
                top: 2rem;
                left: 50%;
                -webkit-transform: translateX(-50%);
                -moz-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                -o-transform: translateX(-50%);
                transform: translateX(-50%);
                background-color: var(--clr-text);
                max-width: 20rem;
                -webkit-border-radius: 1rem;
                -moz-border-radius: 1rem;
                -ms-border-radius: 1rem;
                -o-border-radius: 1rem;
                border-radius: 1rem;
                padding: 1em;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                .tick {
                    width: 6.25rem;
                    height: 6.25rem;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 2px solid red;
                    padding: 1em;
                    svg {
                        color: red;
                        font-size: 7rem;
                    }
                }
                h3 {
                    color: var(--bg500);
                    margin: .7em 0;
                }
                p {
                    color: var(--bg400);
                    margin-bottom: .7em;
                }
                .ok {
                    cursor: pointer;
                    background-color: red;
                    color: var(--bg500);
                    padding: .5em 1.3em;
                }
            }
        }
    }
}