.header {
    text-align: center;
    padding-top: 7em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
    .header-sub {
        text-transform: capitalize;
        margin-bottom: 1rem;
        color: var(--clr-heading);
    }
    .header-title {
        color: var(--primary);
        text-transform: capitalize;
        font-size: 2.4rem;
        margin-bottom: 2rem;
    }
    .par {
        max-width: 43rem;
    }
}