.n-desk {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    height: auto;
    .logo {
        width: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            height: 2rem;
            width: auto;
            -webkit-transition: var(--transition);
            -moz-transition: var(--transition);
            -ms-transition: var(--transition);
            -o-transition: var(--transition);
            transition: var(--transition);
            &:hover {
                -webkit-transform: rotate(-45deg);
                -moz-transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                -o-transform: rotate(-45deg);
                transform: rotate(-45deg);
            }
        }
    }
    .toggle {
        font-size: 1.4rem;
        width: 2rem;
        aspect-ratio: 1/1;
        background: transparent;
        border: 1px solid var(--clr-text);
        color: var(--clr-text);
        -webkit-border-radius: 0.5rem;
        -moz-border-radius: 0.5rem;
        -ms-border-radius: 0.5rem;
        -o-border-radius: 0.5rem;
        border-radius: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        &:hover {
            color: var(--primary);
            border-color: var(--primary);
        }
    }
    .n-list-desk {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        .n-link {
            text-transform: uppercase;
            -webkit-transition: var(--transition);
            -moz-transition: var(--transition);
            -ms-transition: var(--transition);
            -o-transition: var(--transition);
            transition: var(--transition);
            &:hover,&:focus, &:active {
                color: var(--primary);
            }
        }
    }
    @media screen and (max-width:61rem) {
        display: none;
    }
}