.n-mobile {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.75em;
    padding-bottom: 1.75em;
    height: 7.5rem;
    .logo {
        height: 4.1875rem;
        width: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            height: 4.1875rem;
            width: auto;
            -webkit-transition: var(--transition);
            -moz-transition: var(--transition);
            -ms-transition: var(--transition);
            -o-transition: var(--transition);
            transition: var(--transition);
            &:hover {
                -webkit-transform: scale(0.9);
                -moz-transform: scale(0.9);
                -ms-transform: scale(0.9);
                -o-transform: scale(0.9);
                transform: scale(0.9);
            }
        }
    }
    .menu {
        height: 4.1875rem;
        width: auto;
        background: transparent;
        cursor: pointer;
        .icon {
            color: var(--clr-heading);
            font-size: 2.4rem;
            -webkit-transition: var(--transition);
            -moz-transition: var(--transition);
            -ms-transition: var(--transition);
            -o-transition: var(--transition);
            transition: var(--transition);
            &:hover {
                color: var(--primary);
            }
        }
    }
    .n-list-mobile {
        z-index: 10000;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2.5rem;
        position: fixed;
        top: 9rem;
        width: 80%;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        background-color: var(--clr-text);
        color: var(--bg500);
        height: auto;
        padding: 2em 1em;
        -webkit-border-radius: 1em;
        -moz-border-radius: 1em;
        -ms-border-radius: 1em;
        -o-border-radius: 1em;
        border-radius: 1em;
        opacity: 0;
        .n-link {
            text-transform: uppercase;
            font-family: 'Montserrat', sans-serif;
            &:hover, &.active, &:focus {
                color: var(--primary);
            }
        }
}
    @media screen and (min-width:61rem) {
        display: none;
    }
}

.layer {
    opacity: 0;
    z-index: 999;
    position: fixed;
    top: 7.5rem;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    
}