.stats {
    z-index: 1;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7rem;
    background-color: var(--bg500);
    box-shadow: 0 0 15px black;
    padding: 3em 7em;
    max-width: 60rem;
    height: 8rem;
    top: -4rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-border-radius: 10rem;
    -moz-border-radius: 10rem;
    -ms-border-radius: 10rem;
    -o-border-radius: 10rem;
    border-radius: 10rem;
    .info {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        strong {
            font-size: 2.9rem;
            color: var(--clr-heading);
            @media screen and (max-width:30rem) {
                font-size: 1.8rem;
            }
        }
        small {
            @media screen and (max-width:30rem) {
                font-size: 1rem;
            }
        }
    }
    @media screen and (max-width:30rem) {
        gap: 3rem;
        padding: 1em 5em;
    }
}